* {
    text-align: center;
}

body {
    height: 100vh;
    position: relative;
    background-color: lightblue;
}

form {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#weather-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}